<%- include('../layout/adminHeader.ejs') %> 
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons List</h2>
            <p>Manage your store coupons</p>
        </div>
        <div>
            <a href="#" class="btn btn-light rounded font-md">Export</a>
            <a href="#" class="btn btn-light rounded font-md">Import</a>
            <a href="/admin/addcoupon" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <select class="form-select">
                        <option selected>All Coupons</option>
                        <option>Active</option>
                        <option>Expired</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input type="date" class="form-control">
                </div>
                <div class="col-md-2 col-6">
                    <select class="form-select">
                        <option selected>Status</option>
                        <option>Active</option>
                        <option>Expired</option>
                        <option>Show all</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Coupon Code</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Discount</th>
                        <th>No. of Used</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (locals.coupons && locals.coupons.length > 0) { %>
                    <% locals.coupons.forEach(function(coupon, index) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= coupon.code %></td>
                        <td><%= new Date(coupon.startDate).toLocaleDateString() %></td>
                        <td><%= new Date(coupon.endDate).toLocaleDateString() %></td>
                        <td>
                            <% if (coupon.isExpired) { %>
                            <span class="badge rounded-pill alert-danger">Expired</span>
                            <% } else { %>
                            <span class="badge rounded-pill alert-success">Active</span>
                            <% } %>
                        </td>
                        <td><%= coupon.discount %>%</td>
                        <td><%= coupon.usedCount %></td>
                        <td class="text-end">
                            <a href="/admin/editcoupon/<%= coupon._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Edit
                            </a>
                            <!-- <a href="#" class="btn btn-sm font-sm btn-light rounded">
                                <i class="material-icons md-delete_forever"></i> Delete
                            </a> -->
                        </td>
                    </tr>
                    <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="8" class="text-center">No coupons available</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->

    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% if (currentPage > 1) { %>
                    <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>"><i class="material-icons md-chevron_left"></i></a></li>
                <% } %>
                
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                
                <% if (currentPage < totalPages) { %>
                    <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>"><i class="material-icons md-chevron_right"></i></a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->
<%- include('../layout/adminFooter.ejs') %>
