<%- include('../layout/userHeader.ejs') %>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/home" rel="nofollow">Home</a>
                <span></span> My Orders
            </div>
        </div>
    </div>
    
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content dashboard-content">
                                <!-- Orders Tab -->
                                <div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- Loop through each order -->
                                                <% locals.orders.forEach(order => { %>
                                                    <div class="col-md-6 mb-4">
                                                        <div class="card order-card">
                                                            <div class="card-header d-flex justify-content-between align-items-center">
                                                                <h5>Order #<%= order.orderNumber %></h5>
                                                                <span class="badge bg-primary"><%= order.status %></span>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="order-item-images">
                                                                <% order.orderItems.forEach(item => { %>
                                                                    <% if (item.productId.images.length > 0) { %>
                                                                        <div class="order-item-images">
                                                                            <img src="<%= item.productId.images[0] %>" alt="<%= item.productId.name %>" >
                                                                        </div>
                                                                    <% } %>
                                                                <% }) %>
                                                                </div>
                                                                <p><strong>Date:</strong> <%= order.createdAt.toDateString() %></p>
                                                                <p><strong>Total:</strong> Rs <%= order.totalPrice %> for <%= order.orderItems.length %> item(s)</p>
                                                                <p><strong>Payment Status:</strong> <%= order.paymentStatus %></p>

                                                                <div class="order-actions">
                                                                    <a href="/order/<%= order._id %>" class="btn btn-sm btn-primary">View</a>
                                                                    <% if (order.paymentStatus === 'Failed' && (order.paymentMethod === 'Razorpay')) { %>
                                                                        <form id="retryPaymentForm" action="/order/<%= order._id %>/retry-payment" data-order-id="<%= order._id %>" class="d-inline" method="post">
                                                                            <button type="submit" class="btn btn-sm btn-warning complete-payment-btn">Retry Payment</button>
                                                                        </form>
                                                                        
                                                                       
                                                                    <% } else { %>
                                                                        <% if (order.status === 'Delivered') { %>
                                                                            <form id="returnForm-<%= order._id %>" action="/order/<%= order._id %>/return" method="POST" class="d-inline">
                                                                                <button type="submit" class="btn btn-sm btn-danger" <% if (order.status === 'Returned') { %> disabled <% } %>>Return</button>
                                                                            </form>
                                                                        <% } else if (order.status === 'Processing'||'Shipped'&& order.status !== 'Returned') { %>
                                                                            <form action="/order/<%= order._id %>/cancel" method="POST" class="d-inline">
                                                                                <button type="submit" class="btn btn-sm btn-danger" <% if (order.status === 'Cancelled') { %> disabled <% } %>>Cancel</button>
                                                                            </form>
                                                                        <% } %>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% }) %>
                                            </div>
                                            <!-- Pagination Controls -->
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <% if (currentPage > 1) { %>
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>&tab=orders" aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                    <% } %>

                                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                            <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>&tab=orders"><%= i %></a>
                                                        </li>
                                                    <% } %>

                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>&tab=orders" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    <% } %>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('../layout/userFooter.ejs') %>
